{{#if signup_bien}}
  {{> successSignup}}
{{/if}}
<div class="bg-secondary mt-4 p-4 rounded border border-success">
  <h3 class="text-center text-success font-weight-bold">Iniciar Sesi칩n</h3>
  <form action="/auth/signin" method="POST">
  {{!-- Email --}}
  <div class="form-group">
    <label for="email">Direccion de Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingrese su Email">
  </div>
  {{!-- Password --}}
<div class="form-group">
    <label for="password">Contrase침a</label>
    <input type="text" class="form-control" id="password" placeholder="Ingrese su Contrase침a">
  </div>
  {{!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
  <a href="/home" class="btn btn-dark">Cancelar</a>
</form>
</div>
