<form action="/auth/signup" method="POST">
    {{!-- NOmbre --}}
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  {{!-- Email --}}
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  {{!-- Password --}}
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    {{!-- Confirm Password --}}
  <div class="form-group">
      <label for="confirmPassword">Repita su contrasenia</label>
      <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
    </div>

  {{!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-primary">SignUp</button>
</form>