
<div class="container" style="min-height: 720px;">
  {{#if signup_bien}}
    {{> successSignup}}
  {{/if}}
    {{#if isAuthenticated_error}}
    <div class="bg-dark border border-light rounded p-1 my-2">
      <h1 class="text-danger font-weight-bold text-center my-4">{{isAuthenticated_error}}</h1>
      <p class="text-warning font-weight-bold text-center my-4">Identifiquese para continuar:</p>
    </div>
  {{/if}}
  {{#if signin_error}}
    {{>alert value = signin_error value2 = "inicio de sesion."}}
  {{/if}}
  <div class="bg-sec-opacity mt-4 p-4 rounded border border-light">
    <h3 class="text-center text-warning font-weight-bold">Iniciar Sesi칩n</h3>
    <form action="/auth/signin" method="POST">
      {{!-- Email --}}
      <div class="form-group">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" style="color: #ac6617">
          <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
          <path d="m22 6-10 7L2 6"></path>
        </svg>
        <label for="email">Direccion de Email</label>
        <input type="email" {{#if signin_error}}class="is-invalid form-control text-warning bg-dark" {{/if}} class="form-control text-warning bg-dark border border-light" id="email"
          name="email" aria-describedby="emailHelp" placeholder="Ingrese su Email">
      </div>
      {{!-- Password --}}
      <div class="form-group">
        <img src="https://img.icons8.com/ios/20/FD7E14/key-security.png"/>
        <label for="password">Contrase침a</label>
        <input type="password" name="password" {{#if signin_error}}class="is-invalid form-control text-warning bg-dark" {{/if}}
          class="form-control text-warning bg-dark border border-light" id="password" placeholder="Ingrese su Contrase침a">
      </div>
      <div class="mt-4">
        <button type="submit" class="btn btn-outline-warning">Iniciar sesi칩n</button>
        <a href="/home" class="btn btn-dark border-light border">Cancelar</a>
      </div>
      
    </form>
  </div>
</div>
