{{#each errors}}
  {{>alert value = this.msg value2="registro."}}
{{/each}}
{{#if signup_userExist}}
  {{>alert value = this.signup_userExist value2="registro."}}
{{/if}}
<div style="min-height: 720px;">
  <div class="bg-sec-opacity mt-4 p-4 rounded border border-light container">
    <h3 class="text-center text-warning font-weight-bold">Registrarse</h3>
    <form action="/auth/signup" method="POST">
        {{!-- NOmbre --}}
      <div class="form-group">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABOklEQVRIie2UvU4CQRSFvztLoiUSGjV0NlbQ2Fr5Ex/Ax6AwNkQaCiwNBZU+gjyAMZFG7WzoDIkdxJiIQOhM3Lk2kLibXWeTsZNT3jP3fDOTuQNLOSRZFmm9UNJAWoocAIjSFaUmzVHfG6D1QskGpgcUYtbEhLYs5+PBb/3GCQiklRAOsKaBuXD1uwHza0n2OPQGOPm+AFG66Sa3fwGoAZME58OIPfUHNEd9E9qyQAeYATOEa2PCijTGQ1f/Uk6lTrIeE3xtF3cNsi+qOypsAqW5PRBkqGKfrMpd7nl0Lx3CTACtbq3Y/LSKcAJsZNzoK0rLTPNtab98pgL0rLhuc9wA5YzBcfWMkSNpvL8tCpFnqgFXHuEAFQ318mchChD2PMIXGZG/Kz5oq76AeEb0BPDom67w4Jvxz/QNfsRcDnb1UnYAAAAASUVORK5CYII=">
        <label for="name">Nombre</label>
        <input type="text" class="form-control text-warning bg-dark border border-light" id="name" name="name" aria-describedby="emailHelp" 
        placeholder="Ingrese su nombre"
        value="{{name}}">
      </div>
      {{!-- Email --}}
      <div class="form-group"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: #ac6617"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="m22 6-10 7L2 6"></path></svg>
        <label for="email">E-mail</label>
        <input type="email" class="form-control text-warning bg-dark border border-light" id="email" name="email" aria-describedby="emailHelp" 
        placeholder="Ingrese su email"
        value="{{email}}">
        <small id="emailHelp" class="form-text text-muted">Usarás esta información cuando entres a tu cuenta.</small>
      </div>
      {{!-- Password --}}
      <div class="form-group">
          <img src="https://img.icons8.com/ios-filled/20/FD7E14/key-security.png"/>
          <label for="password">Contraseña</label>
          <input type="password" class="form-control text-warning bg-dark border border-light" name="password" id="password" placeholder="Ingrese su contraseña">
          <small id="passHelp" class="form-text text-muted">Asegúrese de ingresar más de 4 caracteres.</small>
      </div>
      
        {{!-- Confirm Password --}}
      <div class="form-group">
          <img src="https://img.icons8.com/ios/20/FD7E14/key-security.png"/>
          <label for="confirmPassword" class="align-middle text-center">Repita su contraseña</label>
          <input type="password" class="form-control text-warning bg-dark border border-light" name="confirmPassword" id="confirmPassword" placeholder="Ingrese nuevamente su contraseña ">
      </div>
      
      <div class="mt-4">
        <button type="submit" class="btn btn-outline-warning">SignUp</button>
        <button type="reset" class="btn btn-outline-light">Reset</button>
        <a href="/home" class="btn btn-dark border-light border">Cancelar</a>
      </div>
      
    </form>
  </div>
</div>
