{{#if signup_bien}}
  {{> successSignup}}
{{/if}}
{{#if isAuthenticated_error}}
  <div class="bg-dark border border-light rounded p-1 my-2">
    <h1 class="text-danger font-weight-bold text-center my-4">{{isAuthenticated_error}}</h1>
    <p class="text-warning font-weight-bold text-center my-4">Identifiquese para continuar:</p>
  </div>
  
{{/if}}
{{#if signin_error}}
  {{>alertPartial value = signin_error}}
{{/if}}
<div>
  <div class="bg-secondary mt-4 p-4 rounded border border-light">
  <h3 class="text-center text-success font-weight-bold">Iniciar Sesi칩n</h3>
  <form action="/auth/signin" method="POST">
  {{!-- Email --}}
  <div class="form-group">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="color: #40C057"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="m22 6-10 7L2 6"></path></svg>
    <label for="email">Direccion de Email</label>
    <input type="email" {{#if signin_error}}class="is-invalid form-control"{{/if}} class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Ingrese su Email">
  </div>
  {{!-- Password --}}
<div class="form-group">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAACWElEQVQ4jaWTsWsTYRiHf+/3XZL2hFYLCUI3N+ng0klb7xIoGttCQS6NVkFQExAnoSAZFJS6KN1bF6VSL70iUrSD0NyFlrq4Cv4HFlOoODRp2vtehxgMadJL9TceD889L9wR/iy5moxU9N4sE6cA6gIAMMpgzkdjat4ZcKroYAIAEmtWf1nv8RQ4ArU35hn2oGfYg+DKOBHrpZL0EmtWfydCSq4mI2W9x2OoB0XT+Wy61mkA8OLOVh1KFNPnFeNFNOqbQaWiovdmGXhXk6VuQIhlCLFsFien6lDBsDfBvFLalncDT2biFPHey1ov3daqahRqbwyMO43ggSbnwEgHCgHq8uLvfwIAAe5+SM4SRWYZVGgEN4YXd0Do7kD4d66ZfyKJ80Swi6b99BDNLA49a5oGRtl0J07WKwtG/lMr8NKm1VepohxYyOAlonAmCKxUKUvAmXghPXqkUN/9Nc8QE/FC6kI7yHStIYDGwqHwOSU4d5SUgNqHraR0wLxyoMm5jeHFHaB+JmUJYtwX2tX1i2++D61fPyV9/4NQ9MxN2B9bCgHA+mqFSz9EBoQUiHQw7zPQB2ArFlUjzoBTTa4mI7t6z2JIyul9319oJaXmNzTOWrJkKSZfgfibZ+RnaudfuwxSjzUppw589ZoIz13DXulIWJdux+QCg8+CyGfGjFCoKsG5kJQ3m0sDhY2LF9MZAHANe75d6bGFzJwD0fbhUvWWiW8dS9i+lB8RYCuoE4G/Ursxc84spr8wcTcpzDD4HkFc+afC1qWT90F4qP2PsKE0A2ZdEUZ+A7P1JLg7Y/ATAAAAAElFTkSuQmCC">
    <label for="password" >Contrase침a</label>
    <input type="password" name="password" {{#if signin_error}}class="is-invalid form-control"{{/if}} class="form-control" id="password" placeholder="Ingrese su Contrase침a">
  </div>
  {{!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> --}}
  <button type="submit" class="btn btn-success">Iniciar sesi칩n</button>
  <a href="/home" class="btn btn-dark">Cancelar</a>
</form>
</div>
</div>

