<div class="d-flex justify-content-center bg-sec-opacity py-4 rounded border border-light flex-wrap my-2">
    <form action="/home/actualizarCondiciones" method="POST" class="d-flex align-items-middle">
        <div>
            <input type="checkbox" autocomplete="off" name="mostrarEmojis" id="mostrarEmojis"{{#if mostrar.emoji}}checked{{/if}}>
            <label for="mostrarEmojis" class="user-select-none">Mostrar Emojis</label>
        </div>
        <div class="mx-2">
            <input type="checkbox" name="mostrarFechas" id="mostrarFechas"{{#if mostrar.fecha}}checked{{/if}}>
            <label for="mostrarFechas" class="user-select-none">Mostrar Fechas</label>
        </div>
        <div class="mx-2">
            <input type="checkbox" name="mostrarAutores" id="mostrarAutores" {{#if mostrar.autor}}checked{{/if}}>
            <label for="mostrarAutores" class="user-select-none">Mostrar Autores</label>
        </div>
            <button type="submit" class="mx-2 nav-link btn btn-outline-warning rounded">Actualizar</button>
    </form>
</div>
<div class="d-flex justify-content-center bg-sec-opacity py-3 rounded border border-light flex-wrap my-2">
    <h4 class="text-center w-100">Temas de Posts</h4>
    <form action="/home/actualizarTema" method="POST">
        <div class="d-flex align-items-middle flex-wrap">
            <div class="mx-2">
                <input class="" type="radio" name="themes" id="defect" value="defecto"
                {{#if (or (isFalsey mostrar.tema)(eq mostrar.tema 'defecto'))}}checked{{/if}}>
                <label class="user-select-none" for="defect">Defecto</label>
            </div>
            <div class="mx-2">
                <input class="" type="radio" name="themes" id="theme1" value="theme1"
                {{#if (eq mostrar.tema 'theme1')}}checked{{/if}}>
                <label class="user-select-none" for="theme1">Theme1</label>
            </div>
                <div class="mx-2">
                    <input class="" type="radio" name="themes" id="theme2" value="theme2"
                    {{#if (eq mostrar.tema 'theme2')}}checked{{/if}}>
                    <label class="user-select-none" for="theme2" >Theme2</label>
                </div>
                <div class="mx-2">
                    <input class="" type="radio" name="themes" id="theme3" value="theme3"
                    {{#if (eq mostrar.tema 'theme3')}}checked{{/if}}>
                    <label class="user-select-none" for="theme3">Theme3</label>
                </div>
                <div class="mx-2">
                    <input class="disabled" type="radio" disabled="" name="themes">
                    <label class="user-select-none disabled text-muted" for="theme4">Theme4</label>
                </div>
        </div>
            
        <button type="submit" class="nav-link btn btn-outline-warning rounded mx-2 w-100">Actualizar Temas</button>
    </form>
</div>
