<div class="d-flex justify-content-center align-items-center mx-2">
    <small class="text-success font-weight-bold">Total Posts: <label
            class="h4 mx-2 bg-secondary p-1 rounded">{{paginacion.maximo}}</label></small>
</div>