* {
    font-family: 'Didact Gothic', sans-serif;
    /* font-family: 'Wire One', sans-serif; */
}

.fr-second-toolbar{
    display:none;
}

.dark-theme{
    background-color: #2213097e;
    color:rgb(161, 129, 40);
}

.dark-emoji-theme{
    background-color: #2213097e;
    color:rgb(179, 153, 67);
}

.fr-wrapper{
    background-color: #110a0a!important;
}

.fr-svg>path{
    color:rgb(196, 137, 70);
    fill: rgb(212, 162, 68)!important;
}

.fr-link{
    display: none;
}

.fr-element{
    color: #FEFEFE!important;
}

.shadow-box{
    box-shadow: 10px 20px 33px 3px rgba(0,0,0,0.83);
}

/* background secondary with opacity */
.bg-sec-opacity{
    /* background: linear-gradient(to bottom, rgba(58, 34, 4, 0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(190, 123, 46, 0.4) 0%, rgba(0,0,0,0.40) 120%) #553a29d5;
    background-blend-mode: multiply,multiply; */
    background-image: linear-gradient(rgba(42, 39, 33, 0.15) 0%, rgba(22, 21, 17, 0.15) 100%), radial-gradient(at center top, rgba(117, 98, 70, 0.4) 0%, rgba(22, 21, 17, 0.89) 120%);
    background-color: rgba(68, 58, 45, 0.83);
}

.opacity-75{
    opacity: 0.75;
}

body{
    background: url('/img/paper-background.jpg');
    /* filter: sepia(100%); */
    background-color: rgba(68, 49, 26, 0.582);
    /* background-color: rgba(0, 0, 0, 0.582); */
    background-blend-mode: darken;
    /* background-image: url('/public/img/paper-background.jpg'); */
}

.botonDelete>svg{
    fill:#e2d5d5;
    transition: 0.2s;
    transition-property: fill;
}


.bg-link{
    background-color: rgb(117, 87, 48);
    transition: 0.4s;
    transition-property: background-color;
}

.disabledNav{
    background-color: #7e7272;
}

.bg-link:hover{
    transition: 0.4s;
    background-color: rgba(185, 119, 57, 0.801);
    color: #000000!important;
    transition-property: color, background-color;
}

/* Animacion hover/unhover botones */
.btn-effect{
    transition: 0.2s;
    transition-property: color;
    color: #e2d5d5;
}
.btn-effect>svg{
    fill:#e2d5d5;
    transition: 0.2s;
    transition-property: fill;
}


.btn-effect:hover{
    transition: 0.3s;
    transition-property: color;
    color: #3d3333;
}

.btn-effect:hover>svg{
    transition: 0.3s;
    transition-property: fill;
    fill: #221f1f;
}

input[type="checkbox"], input[type="radio"]{
    opacity: .3;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    box-shadow: 3px 0 -3px 0 rgba(0,0,0,0.2);
    opacity: 1;
    filter: invert(100%) hue-rotate(9deg) brightness(1.2);
    
}

/* animacion img post */
.div-card{
    position: relative;
    width: 50%;
}

.image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #3a2810d0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    transition-property: bottom, background-color, height, width, left, right;
}

.div-card:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text-overlay {
    white-space: nowrap; 
    color: rgb(228, 158, 66);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.bg-vintage{
    /* background-image: linear-gradient(to top, #b48750 0%, #dd9d73 100%); */
    background-image: linear-gradient(to right, #271f1f 0%, black 100%);
}

.rounded-3{
    border-radius: 3%;
}


.page-link{
    color: #000;
    background-color: #cc8512;
}

.page-link:hover{
    background-color: #694814;
}

.page-item.active .page-link{
    color: #fff;
    background-color: rgb(231, 166, 90);
}

.page-item.disabled .page-link{
    background-color: #412c0a;
    color: #7e7272;
}

/* Para quitar mensajes de Froala  (srry)*/
p[data-f-id="pbf"]{
    display: none!important;
}
a[ href="https://www.froala.com/wysiwyg-editor?pb=1"]{
    display: none!important;
}

/* style="z-index:9999;width:100%;position:relative" */
div[style="z-index:9999;width:100%;position:relative"]{
    display:none!important;
}
div[style="z-index: 9999; width: 100%; position: relative;"]{
    display:none!important;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"]{
    display: none!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}