<div class="alert alert-dark mt-3 my-5 text-danger border border-warning">
  <h2 class="alert-heading mt-1 text-danger font-weight-bold">{{errorTitle}}</h2>
  <p class="my-2">{{errDesc}}.</p>
</div>