{{!--  --}}
<div class="container" style="min-height: 720px;">
  <div class="bg-vintage mt-4 p-4 rounded border border-light container" >
  <h3 class="text-center text-warning font-weight-bold">Editar Usuario</h3>
  <form action="/user/edit/{{user.slugUser}}?_method=PUT" method="POST">
      {{!-- NOmbre --}}
    <div class="form-group">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABOklEQVRIie2UvU4CQRSFvztLoiUSGjV0NlbQ2Fr5Ex/Ax6AwNkQaCiwNBZU+gjyAMZFG7WzoDIkdxJiIQOhM3Lk2kLibXWeTsZNT3jP3fDOTuQNLOSRZFmm9UNJAWoocAIjSFaUmzVHfG6D1QskGpgcUYtbEhLYs5+PBb/3GCQiklRAOsKaBuXD1uwHza0n2OPQGOPm+AFG66Sa3fwGoAZME58OIPfUHNEd9E9qyQAeYATOEa2PCijTGQ1f/Uk6lTrIeE3xtF3cNsi+qOypsAqW5PRBkqGKfrMpd7nl0Lx3CTACtbq3Y/LSKcAJsZNzoK0rLTPNtab98pgL0rLhuc9wA5YzBcfWMkSNpvL8tCpFnqgFXHuEAFQ318mchChD2PMIXGZG/Kz5oq76AeEb0BPDom67w4Jvxz/QNfsRcDnb1UnYAAAAASUVORK5CYII=">
      <label for="name">Nombre</label>
      <input type="text" class="form-control text-warning bg-dark border border-light" id="name" name="name" aria-describedby="emailHelp" 
      placeholder="Ingrese su nombre"
      value="{{user.name}}">
    </div>
    {{!-- DESC--}}
    <div class="form-group">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 50 50" style="fill:#FD7E14;"><path d="M 14 7 C 12.343 7 11 8.343 11 10 L 11 40 C 11 41.657 12.343 43 14 43 L 36 43 C 37.657 43 39 41.657 39 40 L 39 22 L 27 22 C 25.343 22 24 20.657 24 19 L 24 7 L 14 7 z M 25 7.2929688 L 25 19 C 25 20.105 25.895 21 27 21 L 38.707031 21 L 25 7.2929688 z M 17.5 28 L 32.5 28 C 32.776 28 33 28.224 33 28.5 C 33 28.776 32.776 29 32.5 29 L 17.5 29 C 17.224 29 17 28.776 17 28.5 C 17 28.224 17.224 28 17.5 28 z M 17.5 34 L 32.5 34 C 32.776 34 33 34.224 33 34.5 C 33 34.776 32.776 35 32.5 35 L 17.5 35 C 17.224 35 17 34.776 17 34.5 C 17 34.224 17.224 34 17.5 34 z"></path></svg>
        <label for="password">Descripcion</label>
        <textarea class="form-control text-warning bg-dark border border-light" name="desc" id="desc" placeholder="Ingrese su descripcion">{{user.desc}}</textarea>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-outline-warning">Editar</button>
        <button type="reset" class="btn btn-outline-light">Reset</button>
        <a href="/user/{{user.slugUser}}" class="btn btn-dark border-light border">Cancelar</a>
    </div>
  </form>
  </div>
</div>