<h2 class="h1 mb-5 text-center text-success font-weight-bold">Informacion del Post</h2>

<div class="mt-2 bg-sec-opacity py-3 rounded border border-light pt-5 pb-1 mx-5 rounded">
    <h3 class="text-center text-success font-weight-bold">{{ post.title }}</h3>
    <div>
        <p class="text-center">{{{post.body}}}</p>
    </div>
    <div>

    </div>
    {{#if post.fecha}}
        <p class="text-muted mx-2">{{post.fecha}}</p>
    {{/if}}
    {{#if post.user}}
        <p class="text-muted mx-2">Creado por: <label class="text-success">{{post.user}}</label></p> 
    {{/if}}
</div>

